extends layout

block content
  h1= title
  p Ever wanted to be announced by your own theme music?

  a(href="https://discordapp.com/oauth2/authorize?&client_id=#{botId}&scope=bot&permissions=0") Add Announce-o-tron to your channel
