doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
        block content

        footer
            p Disclaimer: this bot is hosted on a low-power home server, and maintained sporadically. Performance may vary!


