doctype html
html
    head
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        block style
    body
        header
            h1 Announce-o-tron
        block content

        footer
            p Disclaimer: this bot is hosted on a low-power home server, and maintained sporadically. Performance may vary!


